h1 {
  text-align: ;
  color: deepskyblue;
  background-image: url("https://cdn.pixabay.com/photo/2015/11/19/08/52/banner-1050629__340.jpg")
}
main {
    background-image: url("https://i.ytimg.com/vi/pFci36HzZCo/maxresdefault.jpg");
    background-repeat: no-repeat;
  }

  