/* Header */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #f64c72;
  text-shadow: 2px 2px 7px #f64c72;
}

.main__header {
  padding: 40px;
  text-align: center;
  background: darkorange;
  color: white;
  background-image: linear-gradient(to top, #aef6c7, rgb(145, 145, 55));
}

.header__image {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%;
  padding: 20px;
}

/* Image */

img {
  width: 100%;
}
.high-st-hospital-2 {
  width: 800px;
}

/* Drop Tabs */

.info__tab {
  list-style-type: none;
  background-color: #294936;
  padding: auto;
  height: 45px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(142, 168, 23, 0.19);
}

.style__tab,
git-tab:visited {
  padding: 13px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 25px;
  float: right;
}

.style__tab:hover {
  color: white;
  background-color: #3e6259;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* main body */

.projects__title {
  margin-bottom: 1.5rem;
  font-size: 40px;
  color: darkblue;
}
.project-sub__title {
  margin-bottom: 1rem;
  font-size: 20px;
  color: darkblue;
}

.projects__content {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: darkslategray;
}

ul {
  list-style-type: none;
}

.contact__title {
  font-size: 30px;
  color: darkblue;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.contact__email {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: darkgreen;
}

.contact__content {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: darkgreen;
}

.main-body {
  background-color: #d1dede;
  background-image: linear-gradient(to bottom, #aef6c7, rgb(145, 145, 55));
}

li {
  line-height: 1.618;
}

/* Footer */

footer {
  background-color: #1d201f;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 35rem;
}

/* Media */

@media (min-width: 460px) {
  .info__tab {
    height: 50px;
  }
  .style__tab,
  git-tab:visited {
    padding: 16px 15px;
  }
}

@media (min-width: 560px) {
  .style__tab,
  git-tab:visited {
    padding: 16px 20px;
  }
}

@media (min-width: 660px) {
  .style__tab,
  git-tab:visited {
    padding: 16px 25px;
  }
}

@media (min-width: 760px) {
  .style__tab,
  git-tab:visited {
    padding: 16px 30px;
  }
}

@media (min-width: 1000px) {
  .info__tab {
    height: 60px;
  }
  .style__tab,
  git-tab:visited {
    padding: 21px 40px;
  }
}
