* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
  color: lime;
}

a {
  text-decoration: none;
}

/* header */

.main__header {
  padding: 560px;
  text-align: center;
  background: black;
  background-image: url(../pictures/header-background.jpg);
  height: 100%;
}

.header__title {
  font-size: 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 25%;
  padding: 20px;
}

/* Image */

img {
  width: 100%;
}

.high-st-hospital-2 {
  width: 800px;
}

/* Navigation Tabs */

.nav__list {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.nav__list a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav__list a:hover {
  background-color: #ddd;
  color: black;
}

/* main body */

.projects__title {
  margin-bottom: 1.5rem;
  font-size: 40px;
}

.projects__content {
  margin-bottom: 1.5rem;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.contact__title {
  font-size: 30px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.contact__email {
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.contact__content {
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.main-body {
  background-color: #101010;
}

li {
  line-height: 1.618;
}

.main {
  margin-top: 3rem;
}

/* project */

.sub__title {
  margin-bottom: 3rem;
  font-size: 2rem
}

.project__link {
  margin-bottom: 2rem;
}

.project__section {
  padding: 1rem
}



/* Footer */

footer {
  background-color: #1d201f;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

/* Media */

@media (min-width: 360px) {
  .main__header {
    padding: 30px;
    background-size: auto;
  }
  /* nav */
  .nav__list a {
    padding: 10px;
  }
  .header__title {
    font-size: 4rem;
  }
  /* projects */
  .sub__title {
    margin-bottom: 3rem;
    font-size: 2rem
  }
  .project__container {
    display: unset;
    grid-template-columns: 100% 100%;
  }
}

  
@media (min-width: 600px) {
  .main__header {
    padding: 100px;
 }

}

@media (min-width: 800px) {
  .main__header {
    padding: 150px;
 }

}

@media (min-width: 1000px) {
  .main__header {
    padding: 300px;
 }
 .project__container {
  margin: 0 auto;
  max-width: 100rem;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  justify-content: center;
}

}

@media (min-width: 1200px) {
  .main__header {
    padding: 350px;
 }

}

@media (min-width: 1900px) {
  .main__header {
    padding: 560px;
    text-align: center;
    background: black;
    background-image: url(../pictures/header-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
  