* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li,
a {
  text-decoration: none;
}

body {
  background-color: #181a1b;
}

/* Navigation */

.nav__list {
  position: fixed;
  top: 0;
  transition: top 0.5s;
}

.nav__list a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav__list a:hover {
  background-color: white;
  color: black;
}

/* Header */

.header__main {
  background-image: url(/public/pictures/header13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  color: white;
  text-align: center;
  padding: 12rem 0;
}

.header__image {
  height: 22rem;
}

.header__name {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.header__sub-name {
  font-size: 2rem;
}

/* About Section */

.about__section {
  text-align: center;
  color: white;
  padding: 20rem;
  border-bottom: 1px solid white;
}

.about__title {
  font-size: 2.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.about__item-list {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.about__section p {
  margin: 5rem;
  padding: 8rem;
}

/* Skill Section */

.skill__section {
  text-align: center;
  color: white;
  padding: 25rem;
  border-bottom: 1px solid white;
}

.skill__title {
  font-size: 2.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.skill__item-list {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  list-style: none;
}

/* projects section */

.project__container {
  margin: 0 auto;
  max-width: 100rem;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  justify-content: center;
}

/* Contact Section */

.contact__section {
  text-align: center;
  color: white;
  padding: 30rem;
  border-bottom: 1px solid white;
}

.contact__title {
  font-size: 2.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contact__item-list {
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* Main */

.main {
  box-sizing: border-box;
  padding: 3rem;
}

/* Footer */

.footer {
  background-color: rgb(15, 15, 15);
  color: white;
  text-align: center;
  padding: 3rem;
}
