/* Header */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
  color: lime;
}

.main__header {
  background: black;
  background-image: url(../pictures/header-background.jpg);
  height: 100%;
}

.header__image {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Image */

img {
  width: 100%;
}

/* Navigation Tabs */

.nav__list {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.nav__list a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav__list a:hover {
  background-color: #ddd;
  color: black;
}

/* main body */

.about__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 30px;
}

.about__content {
  margin-bottom: 1.5rem;
}


.more__title {
  font-size: 25px;
}

.beau-image__title {
  margin-bottom: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.beau-content__image {
  margin-bottom: 1.5rem;
}

.contact__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: darkblue;
}

.contact__content {
  margin-bottom: 1.5rem;
}

.main-body {
  background-color: #101010;
}

p, li {
  line-height: 1.618;
}

/* main */

.main {
  text-align: center;
}

/* Footer */

footer {
  background-color: #1d201f;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 35rem;
}

/* Media */

@media (min-width: 360px) {
.main__header {
  padding: unset;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__image {
  border-radius: none;
  width: 20rem;
  }

/* nav */

.nav__list {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.nav__list a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.nav__list a:hover {
  background-color: #ddd;
  color: black;
}

}

@media ( min-width: 600px) {
  .main__header {
    padding: 150px;
  }
  
  .header__image {
    width: 20rem;
  }
}

@media ( min-width: 800px) {
  .main__header {
    padding: 180px;
  }
}

@media ( min-width: 900px) {
  .main__header {
    padding: 200px;
  }
  
}

@media ( min-width: 1000px) {
  .main__header {
    padding: 300px;
  }
  
}

@media ( min-width: 1200px) {
  .main__header {
    padding: 330px;
  }
  
}

@media ( min-width: 1400px) {
  .main__header {
    padding: 360px;
  }
  
}